# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
DerivedData/
build/

# CocoaPods
Pods/
*.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

# OS files
.DS_Store
*.swp
*~
Thumbs.db

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
